@using TechJobsPersistent.ViewModels
@model AddJobViewModel;


<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="EmployerId">Employer</label>
        <select>class="form-control" asp-for="EmployerId" asp-items="@Model.AllEmployers"/></select>
        <a asp-controller="Employer" asp-action="Add">add employer</a>
    </div>

    <div class="form-group">
        @foreach (Skill skill in Model.AllSkills)
        {
            <label>@skill.Name</label>
            <input type="checkbox" name="selectedSkills" value="@skill.Id"/>
        }
        <a asp-controller="Skill" asp-action="Add">add skill</a>
    </div>


    <input class="btn btn-primary form-control" type="submit" value="Add Job" />
</form>

